<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Notre plan machiavélique pour sauver la planète</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Collectez des déchets valorisables</h4>
                <p class="text-muted">Trouvez la matière qui ne mérite pas de finir en déchetterie et contribuez à produire autrement. Chez un R de Rien, on milite pour que nos objets chéris renaissent de leur cendre tels des phénix ! Pourquoi ne pas les transformer pour être réutilisés plutôt que d’être incinérés ou enfouis à jamais ?</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Déposez dans des points de collecte autour de vous</h4>
                <p class="text-muted">Des filières de collecte existent près de chez vous. Plutôt que de vous laisser chercher, à nous de vous les présenter !</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Agissez à votre niveau</h4>
                <p class="text-muted">Trois niveaux de participation à cette mission de sauvetage :  le consommateur, justicier de la lutte du gaspillage quotidien le collecteur, commandant Tetris qui donne autant qu’il reçoit le recycleur, colosse au grand coeur</p>
            </div>
        </div>
    </div>
</section>