<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Qui sommes-nous ?</h2>
            <h3 class="section-subheading text-muted">Voici la folle équipe qui est derrière le projet “Un R de Rien”. Nous pensons qu’il est essentiel d’adopter un mode de vie toujours plus respectueux de l'environnement. C’est pourquoi nous avons créé un R de rien pour contribuer à ce changement d'état d’esprit !</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/val.png" alt="..." />
                    <h4>Valérie</h4>
                    <p class="text-muted">Porteuse de projet</p>
                    <p class="section-subheading text-muted">Un R de rien est né à la suite de notre rencontre avec un colibri, ce même petit oiseau si altruiste ou besogneux, selon les points de vue. La légende veut que cet oiseau s’active en allant chercher des gouttes pour éteindre un immense incendie croisant des animaux incrédules et répétant : “Je fais ma part”.
                        La question est alors : j’attends ou j’agis ? Vous l’avez compris, pour nous, c’est l’action.
                        Mais compliqué de s’y retrouver, c’est pourquoi une équipe de colibris a pris le contrôle de ce site afin de donner un maximum de réponses aux questions que se posent celles et ceux qui veulent faire leur part. 
                        Rien ne se perd, rien ne se crée, tout se transforme, récemment repris par Orelsan, en super-héros des temps modernes, peut être notre devise, mais il y a une autre citation qui peut également nous représenter. Le non, tu l’as déjà, va chercher le oui. Ce colibri n’a l’air de rien (R de Rien) mais il peut beaucoup !
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center" style='margin: 5%;'>
            <h4 class="section-subheading text-muted">... et une équipe étudiante de développeurs (EPSI Toulouse) là pour relever le défi!</h4>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/vivi.png" alt="..." />
                    <h4>Wejdene</h4>
                    <p class="text-muted">Cheffe de projet, développeuse</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/lucas.png" alt="..." />
                    <h4>Lucas</h4>
                    <p class="text-muted">WIS</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/koffi.jpg" alt="..." />
                    <h4>Koffi</h4>
                    <p class="text-muted">développeur</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/constantin.png" alt="..." />
                    <h4>Constantin</h4>
                    <p class="text-muted">développeur</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/alexia.jpg" alt="..." />
                    <h4>Alexia</h4>
                    <p class="text-muted">assistante cheffe de projet, développeuse</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/salah.png" alt="..." />
                    <h4>Salah</h4>
                    <p class="text-muted">développeur</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/raf.png" alt="..." />
                    <h4>Rafion</h4>
                    <p class="text-muted">développeur</p>
                </div>
            </div>
        </div>
    </div>
</section>